h1{
    color: #4A1472;
    font-size: 50px;
     border-bottom: 2px solid #4A1472;

}
h2{
    color:  #4A1472;
   
}
h3{
     color:  #4A1472;
}
p{
    color: #3D3D3D;
   
}
a{
    color: #4A1472;
    text-decoration: none;

}
a:hover{
    color: #B8860B;
}
.cargo{
    color: #8A6D00;
    font-weight: bold;
}
.link-social{
    color: #3D3D3D;
    text-decoration: none;
}
#hero{
     background:linear-gradient(to bottom, #EDE4F7,#C9B8DD );

}
#sobre{
     background:linear-gradient(to bottom, #EDE4F7,#C9B8DD );
}
#habilidades{
   background:linear-gradient(to bottom, #EDE4F7,#C9B8DD );
}
#projetos{
     background:linear-gradient(to bottom, #EDE4F7,#C9B8DD );
}
#contato{
     background:linear-gradient(to bottom, #EDE4F7,#C9B8DD );
}
#footer{
   background:linear-gradient(to bottom, #EDE4F7,#C9B8DD );
}
footer{
    background:linear-gradient(to bottom, #EDE4F7,#C9B8DD );
    
}
body{
     background:linear-gradient(to bottom, #EDE4F7,#C9B8DD );
    color: #3D3D3D;
}
body{
    font-family: Times New Roman;
}
#hero img{
    margin: 20px;
    border: 2px solid #4A1472;
}
*{
    box-sizing: border-box;
}
.projetos-grid{
   display: flex;
   flex-direction: column;
    gap: 10px;
}
nav{
   display: flex;
    gap: 20px;
    
     display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 200px;
    
    height: 200px;
    max-width: 100px;   
    aspect-ratio: 1/1;                     
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4A1472;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
input[type="text"],
input[type="email"],
textarea {
    border-radius: 8px;
    border: 1px solid #C9B8DD;
    padding: 8px 12px;
}

button, input[type="submit"] {
    border-radius: 8px;
    background-color: #4A1472;
    color: #FAF6EE;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #B8860B;
}
@media (min-width: 700px) {
    nav{
        flex-direction: row;
        justify-content: center;
    }
}
